#span1{
    color: red;

}
h2{
    font-family: 'Qahiri', sans-serif;
font-family: 'Roboto', sans-serif;
}
.halfwidth{
    width: 50%;
    padding: 5%;
}
section{
    display: flex;
    margin: 100px;
}
.halfwidth img{
    width: 80%;
    border-radius: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
   font-weight: 700; 

    padding: 10px 40px;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/chef.png);
    background-repeat: no-repeat;
}